._splash-preview-container {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 300px;
}

/* webgl.readpixel出来的像素是上下颠倒的 */
._splash-preview-canvas { 
  transform: scale(1, -1);
}